body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 100;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo img {
    height: 50px;
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 10px 15px;
}

.nav-links a:hover {
    color: #f9f9f9;
    background-color: #333;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon span {
    background-color: #000;
    height: 3px;
    width: 25px;
    margin-bottom: 4px;
}

.login-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.login-button:hover {
    background-color: #777a7e;
}


@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #eae2e2;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-icon {
        display: flex;
    }

    .login-button {
        padding: 8px 15px;
    }

    .header-content { 
        flex-direction: row; 
        align-items: center; 
        justify-content: space-between; 
    }
}


.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contact-section {
    position: relative;
    background-image: url('gallery11.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
}


.contact-section h2 {
    font-family: 'Georgia', serif;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 30px;
    font-size: 36px;
    text-transform: uppercase;
    color: #fff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
    text-align: center;
}


.contact-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    margin-top: 30px;
    justify-content: center;
}


.contact-info, .contact-form {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    transition: transform 0.3s ease;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff; 
}

.contact-info:hover, .contact-form:hover {
    transform: scale(1.05);
}


.contact-info h3, .contact-form h3 {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}


.contact-info p, .contact-form label {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #fff; 
}


.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #f9f9f9; 
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #333;
}


.contact-form button {
    color: #fff;
    background-color: #333;
    padding: 12px 30px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}

.contact-form button:hover {
    background-color: #555; 
    transform: scale(1.1);
}


.social-media a {
    font-size: 30px;
    margin: 0 15px;
    color: #fff; 
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #ccc8c8;
}


@media (max-width: 768px) {
    .contact-section h2 {
        font-size: 28px;
    }

    .contact-info, .contact-form {
        width: 100%;
        max-width: 100%;
        padding: 20px;
    }

    .contact-info h3,
    .contact-form h3 {
        font-size: 24px;
    }

    .contact-info p,
    .contact-form label,
    .contact-form button {
        font-size: 14px;
    }
}


@media (max-width: 480px) {
    .contact-section {
        padding: 80px 20px;
    }

    .contact-info h3,
    .contact-form h3 {
        font-size: 20px;
    }

    .contact-info p,
    .contact-form label,
    .contact-form button {
        font-size: 12px;
    }
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.footer-menu li {
    display: inline-block;
    margin: 0 10px;
}

.footer-menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 18px;
    transition: font-size 0.3s ease, padding 0.3s ease;
}

.footer-menu a:hover {
    text-decoration: underline;
}

footer p {
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;
}

@media (max-width: 768px) {
    .footer-menu {
        display: block;
    }

    .footer-menu ul {
        text-align: center;
        padding: 0;
    }

    .footer-menu li {
        display: block;
        margin: 5px 0;
    }

    .footer-menu a {
        font-size: 14px;
        padding: 5px 10px;
    }
}
