body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, rgba(146, 147, 148, 0.6), rgba(125, 128, 133, 0.6));
    background-size: cover; 
    background-position: center;
    color: #333;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9); 
    z-index: 100;
    transition: background-color 0.3s ease;
    
}
header:hover {
    background-color: rgba(255, 255, 255, 1); 
}

.header-content { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo img {
    width: 150px; 
    height: auto; 
    transition: transform 0.3s ease;
}
.logo img:hover {
    transform: scale(1.1); 
}


.nav-bar {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li {
    display: flex;
}
.nav-links.active {
    display: flex;
    transform: translateX(0);
}
.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 10px 15px;
}

.nav-links a:hover {
    color: #f9f9f9;
    background-color: #333;
}
.close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 30px;
    color: #000;
    z-index: 103;
}

.menu-icon.active + .nav-links .close-menu {
    display: block;
}
.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon span {
    background-color: #000;
    height: 3px;
    width: 25px;
    margin-bottom: 4px;
    transition: transform 0.3s ease;
}
.menu-icon.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px); 
}

.menu-icon.active span:nth-child(2) {
    opacity: 0; 
}

.menu-icon.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px); 

}

.login-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.login-button:hover {
    background-color: #777a7e;
    transform: scale(1.2);
}


@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 150px;
        right: 0;
        background-color: #eae2e2;
        width: 100%;
        z-index: 105;
        transition: transform 0.3s ease;
    }

    .nav-links.active {
        display: flex;
        transform: translateX(0); 
    }

    .menu-icon {
        display: flex;
        z-index: 106; 
    }

    .login-button {
        padding: 8px 15px;
    }

    .header-content {
        flex-direction: row;
        align-items: center;
        justify-content: space-between; 
    }
}



.contact-section {
    position: relative;
    background-image: url('gallery11.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
}

.contact-section h2 {
    font-family: 'Georgia', serif;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 30px;
    font-size: 36px;
    text-transform: uppercase;
    color: #fff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
    text-align: center;
}


.contact-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
}


.zoom-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px; 
    margin-top: 20px;
}

.zoom-image {
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.zoom-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.zoom-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.zoom-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


.contact-info, .contact-form {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 32%;
    margin: 0 auto;
    text-align: center;
    transition: transform 0.3s ease;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff; 
}

.contact-info:hover, .contact-form:hover {
    transform: scale(1.05);
}

.contact-info h3, .contact-form h3 {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.contact-info p, .contact-form label {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #fff; 
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #f9f9f9; 
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #333;
}

.contact-form button {
    color: #fff;
    background-color: #333;
    padding: 12px 30px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}

.contact-form button:hover {
    background-color: #555; 
    transform: scale(1.1);
}


.social-media a {
    font-size: 30px;
    margin: 0 15px;
    color: #fff; 
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #ccc8c8;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.footer-menu li {
    display: inline-block;
    margin: 0 10px;
}

.footer-menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 18px;
    transition: font-size 0.3s ease, padding 0.3s ease;
}

.footer-menu a:hover {
    text-decoration: underline;
}

footer p {
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;
}


@media (max-width: 768px) {
   
    .contact-container {
        flex-direction: column;
        align-items: center;
    }

   
    .zoom-container {
        width: 100%;
        height: 300px; 
    }

    .contact-info, .contact-form {
        max-width: 90%; 
        margin-bottom: 20px;
    }

    .footer-menu {
        display: block;
    }

    .footer-menu ul {
        text-align: center;
        padding: 0;
    }

    .footer-menu li {
        display: block;
        margin: 5px 0;
    }

    .footer-menu a {
        font-size: 14px;
        padding: 5px 10px;
    }
}

@media (max-width: 480px) {
    
    .contact-section h2 {
        font-size: 28px;
    }

    .contact-info h3, .contact-form h3 {
        font-size: 24px;
    }

    .contact-info p, .contact-form label {
        font-size: 14px;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 14px;
    }
}
.back-button {
    background-color: #333;
    color: #fff;
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.back-button:hover {
    background-color: #555;
    transform: scale(1.05);
}

.back-button:active {
    background-color: #222;
}

#thankYouMessage {
    color: #ddd;
    margin-top: 20px;
}


.contact-form button {
    background-color: #333;
    color: #fff;
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-form button:hover {
    background-color: #555;
    transform: scale(1.05);
}
